<!doctype html>
<html lang="en">
  <%- include("partials/head.ejs", {title: locals.title}) %>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container">
      <main class="categories-page">
        <a class="button" href="/categories/new-category">New Category</a>
        <% if (locals.categories) {
          locals.categories.forEach(category => { %>
            <section class="categories-page__section">
              <a class="categories-page__link" href="/categories/<%=category.id%>" title="Navigate to <%= category.name %> ">
                <img class="categories-page__image" src="<%= category.img_url %>" alt="">
              </a>
              <h2 class="categories-page__heading">
                <a class="categories-page__link" href="/categories/<%=category.id%>" title="Navigate to <%= category.name %> "> <%= category.name  %> </a>
              </h2>
            </section>
       <%   });
        } else { %>
          <h2 class="categories-page__error-heading">No categories found... Try again</h2>
     <% } %>

      </main>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
