<!doctype html>
<html lang="en">
  <%- include("partials/head.ejs", {title: locals.title}) %>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container">
      <main class="dino-details-page">
        <% if (locals.dinosaur) { %>
          <section class="dino-details-page__section">
            <img class="dino-details-page__image" src="/<%= locals.dinosaur.img_url%>" alt="<%= locals.dinosaur.name %>">
            <h2 class="dino-details-page__heading"><%= locals.dinosaur.name %></h2>
            <p class="dino-details-page__body"><%= locals.dinosaur.description %></p>
          </section>
          <section class="dino-details-page__data-section">
            <h3 class="data-section__header">About</h3>
            <ul class="data-section__list">
              <li class="data-section__item"><strong>Name: </strong> <span><%= locals.dinosaur.name %> </span> </li>
              <li class="data-section__item"><strong>Period: </strong><span><%= locals.dinosaur.period %></span> </li>
              <li class="data-section__item"><strong>Diet: </strong><span><%= locals.dinosaur.diet %></span> </li>
              <li class="data-section__item"><strong>Class: </strong><span><%= locals.dinosaur.class %></span> </li>
              <li class="data-section__item"><strong>Habitat: </strong><span><%= locals.dinosaur.habitat %></span> </li>
              <li class="data-section__item"><strong>Weight: </strong><span><%= locals.dinosaur.weight_kg %> kg</span></li>
              <li class="data-section__item"><strong>Height: </strong><span><%= locals.dinosaur.height_m %> m</span></li>
            </ul>
            <button class="button edit-button edit-dino-button">Edit Dino</button>
            <!-- Initially hidden -->
            <div class="password-form-wrapper" style="display: none;">
              <form class="password-form">
                <label class="password-label" for="password">Password:</label>
                <div class="flex-row-wrapper">
                  <input class="password-input" type="password">
                  <button class="confirm-password-button button" type="submit">Confirm</button>
                </div>
                <p class="wrong-password-message" style="display: none;">Wrong password!</p>
              </form>
            </div>

          </section>

          <!-- Hidden Form for Editing -->
          <section class="new-dino-page__form-section" id="editFormSection" style="display: none;">
            <form class="new-dino-page__form" action="/dinosaurs/edit/<%= locals.dinosaur.id %>" method="POST" enctype="multipart/form-data">
              <label for="name">*Name:</label>
              <input name="name" id="name" type="text" value="<%= locals.dinosaur.name %>" required>

              <label for="period">*Period:</label>
              <select name="period" id="period" required>
                <% locals.periods.forEach(period => { %>
                  <option value="<%= period.name %>" <%= period.name === locals.dinosaur.period ? "selected" : "" %>><%= period.name %></option>
                <%  }); %>
                <option value="">other</option>
              </select>

              <label for="diet">*Diet:</label>
              <select name="diet" id="diet" required>
                <% locals.diets.forEach(diet => { %>
                  <option value="<%= diet.name %>" <%= diet.name === locals.dinosaur.diet ? "selected" : "" %>><%= diet.name %></option>
                <%  }); %>
                <option value="">other</option>
              </select>

              <label for="classType">*Class:</label>
              <select name="classType" id="classType" required>
                <% locals.classes.forEach(classType => { %>
                  <option value="<%= classType.name %>" <%= classType.name === locals.dinosaur.class ? "selected" : "" %>><%= classType.name %></option>
                <%  }); %>
                <option value="">other</option>
              </select>

              <label for="habitat">*Habitat:</label>
              <select name="habitat" id="habitat" required>
                <% locals.habitats.forEach(habitat => { %>
                  <option value="<%= habitat.name %>" <%= habitat.name === locals.dinosaur.habitat ? "selected" : "" %>><%= habitat.name %></option>
                <%  }); %>
                <option value="">other</option>
              </select>

              <label for="weight">Weight (kg):</label>
              <input name="weight" id="weight" type="number" value="<%= locals.dinosaur.weight_kg %>">

              <label for="height">Height (m):</label>
              <input name="height" id="height" type="number" value="<%= locals.dinosaur.height_m %>">

              <label for="description">*Description:</label>
              <textarea name="description" id="description" required><%= locals.dinosaur.description %></textarea>

              <label for="imageUpload">Change Image (optional):</label>
              <input type="file" id="imageUpload" name="image" accept="image/*">
              <div class="flex-row-wrapper">
                <button type="submit" class="button form-button">Save Changes</button>
                <button type="button" class="button form-button cancel-edit-button" id="cancelEdit">Cancel</button>
              </div>
            </form>
            <form class="new-dino-page__form" action="/dinosaurs/delete/<%= locals.dinosaur.id %>" method="POST">
              <button type="submit" class="button form-button">Delete Dino</button>
              </form>
          </section>


      <%  } else { %>
        <h2 class="dino-details-page__error-heading">No dinosaur information found... Try again</h2>
      <% } %>
      </main>
    </div>
    <%- include("partials/footer.ejs") %>
    <script src="/script.js"></script>
  </body>
</html>
