<!doctype html>
<html lang="en">
  <%- include("partials/head.ejs", {title: locals.title}) %>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container">
      <main class="new-category-page">
          <section class="new-category-page__section">
              <img class="new-category-page__image" src="/images/new-category.png" alt="">
              <h2 class="new-category-page__heading">Add a new category</h2>
              <p class="new-category-page__body">Here you can add a new category to the database by filling in the form.</p>
          </section>
          <section class="new-category-page__form-section">
            <form class="new-category-page__form" action="/categories/new-category" method="POST">
              <label for="parentCategory">*Parent Category:</label>
              <select name="parentCategory" id="parentCategory" required>
                <% locals.parentCategories.forEach(category => { %>
                  <option value="<%= category.name %>"><%= category.name %></option>
                  <%  }); %>
              </select>
              <label for="name">*Name:</label>
              <input name="name" id="name" type="text" required>
              <label for="description">*Description:</label>
              <textarea name="description" id="description" required></textarea>
              <button type="submit" class="button form-button">Add Category</button>
            </form>
          </section>
      </main>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
